a:link { text-decoration: none; }
a:focus { text-decoration: overline; }
a:hover { text-decoration: underline; }
@media (prefers-color-scheme: dark) {
  body {
    font-size: 175%;
    background-color: black;
    background-color: rgb(5%,5%,5%);
    color: hsl(220, 15%, 45%);
    color: rgb(80%,80%,80%);
  }
  a:link { color: hsl(210, 50%, 45%); }
  a.title:link { color: #33E9FF;}
  a.arxiv:link { color: #872443;}
  a.doi:link { color: #FFF033; }
  a:visited { color: hsl(210, 50%, 45%); }
  a.title:visited { color: #33E9FF;}
  a.arxiv:visited { color: #872443; }
  a.doi:visited { color: #FFF033; }
  a:focus { }
  a:hover { }
  a:active { color: hsl(210, 50%, 72%); }
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover { opacity: 1; }
}

